html {
    height: 100%;
    background: url(/images/space_bkgrd.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:white;
    background-color:black;
}
a:link, a:visited {
    color: yellow;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

#grid {
  position: absolute;
  top: 0;
  left: 0;
}

@font-face {
  font-family: 'Play script=all rev=1';
  font-style: normal;
  font-weight: 400;
  src:   url(https://fonts.gstatic.com/s/play/v9/ldG7L03dPLLtYDea50KtQfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

#dialogOverlay {
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.7;
}

#dialogBox {
	position: absolute;
	z-index: 50;
	width: 850px;
	left: 50%;
	margin-left: -425px;
	top: 80px;
	color: #fff;
	display: none;
}

#dialogBox .dialogTop {
	height: 105px;
	background: url(/images/dialog_top.png);
}

#dialogBox .dialogBottom {
	height: 40px;
	background: url(/images/dialog_bottom.png)no-repeat 0 bottom;
}

#dialogBox .dialogMiddle {
	padding: 0 30px;
	background: url(/images/dialog_middle.png) repeat-y 0 0;
}

#dialogBox a.closeDialog {
	background: url(/images/dialog_close.png) no-repeat 0 0;
	display: block;
	position: absolute;
	width: 44px;
	height: 44px;
	right: 20px;
	top: 66px;
}

#dialogBox a.closeDialog:hover {
	background-position: 0 -44px;
}

#dialogBox .title {
	background: url(/images/dialog_title.png) no-repeat center bottom;
	font-size: 20px;
	font-family: "Play script=all rev=1";
	margin-bottom: 20px;
	padding-bottom: 30px;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0 0 5px #00c6ff;
	color: #00c6ff;
}

#dialogBox #app,
#dialogBox .container {
  font-family: "Play script=all rev=1";
  padding: 0;
  width:100%;
  text-align:center;
  overflow: hidden;
}

#dialogBox .container .left {
  margin-left: 10px;
  float:left;
  width:100px;
}
#dialogBox .container .center {
  display: inline-block;
  margin:0 auto;
  width:100px;
}
#dialogBox .container .right {
  float:right;
  width:100px;
}

#dialogBox .formbox {
	padding: 15px 0;
}

#dialogBox .formbox .row {
	overflow: hidden;
	padding: 5px 0;
}

#dialogBox .formbox .row .left {
	width: 350px;
	text-align: right;
	float: left;
}

#dialogBox .formbox .row .left label {
	background: url(/images/dialog_label.png) no-repeat 0 0;
	display: block;
  font-family: "Play script=all rev=1";
	width: 232px;
	height:10px;
	padding-top: 6px;
	color: #00c6ff;
	font-size: 14px;
	text-align: left;
	float: right;
	line-height: 24px;
}

#dialogBox .formbox .row .right {
	margin: 0 0 0 360px;
	color: #8ee4e5;
}

#dialogBox .formbox .row .right input {
	background: url(/images/dialog_input.png) no-repeat 0 0;
	font-family: "Play script=all rev=1";
	padding: 7px 10px;
	color: #fff;
	border: 0 none;
	color: #fcfcfc;
	text-shadow: 0 0 3px #000;
	outline: none;
}

#dialogBox input[type=text] {
	width: 288px;
	height: 17px;
}

#dialogBox .formbox .deleteaccount {
  font-family: "Play script=all rev=1";
  margin-top:10px;
}
#dialogBox .formbox .buttonrow input[type=button] {
	background: url(/images/dialog_button_register.png) center top no-repeat;
	height: 50px;
  width: 318px;
}
#dialogBox .buttonrow .gameToggle {
  background: url(/images/button-register.png) center top no-repeat;
	height: 70px;
  width: 318px;
}
#dialogBox .buttonrow .gameToggle,
#dialogBox .formbox .buttonrow input[type=button] {
	color:#2fd42f;
	font-family: "Play script=all rev=1";
	text-align: center;
	font-size: 18px;
	text-shadow: 1px -1px 0px #000;
	text-transform: uppercase;
	cursor: pointer;
	border: 0 none;
	display: block;
	line-height: 45px;
	text-decoration:none;
	margin: 0 auto;
}

#dialogBox .buttonrow .gameToggle:hover {
  background-position: 0 -70px;
  color: #abffb1;
}
#dialogBox .formbox .buttonrow input[type=button]:hover {
	background-position: center bottom;
	color: #abffb1;
}

.userProfilePic {
  padding-left:5px;
  padding-right:95px;
  height:15px;
  width:15px;
}

a.saveButton {
	background:url(/images/button-login.png) 0 0 no-repeat;
	display: inline-block;
	width: 130px;
	height: 24px;
	line-height: 23px;
  margin-left: 50px;
	font-size: 11px;
	text-align: center;
	color: #8ad2ff;
	font-family: 'Play', sans-serif;
	font-weight: bold;
	text-shadow: 1px 1px 0 #000;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 5px;
}

a.saveButton:hover {
	background-position: 0 -24px;
}
