html
    height 100%
    //background: url(/images/space_bkgrd.jpg) no-repeat center center fixed

@font-face
  font-family Play
  font-style normal
  font-weight 400
  src url(themes/fonts/play.woff2) format('woff2')
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215

div
  font-family Play

div#q-app
  background-color black

div.sidePanel
  background url(/statics/images/space_bkgrd.jpg) no-repeat center center fixed // https://en.wikipedia.org/wiki/Orbital_(The_Culture)
  text-align center
  background-color black
  color white
  height 100%

input[type='text'].col.q-input-target.q-no-input-spinner::placeholder
  color yellow !important
  opacity 1

div.q-if-inner.col.row.no-wrap.relative-position, input.col.q-input-target.q-no-input-spinner
  color yellow
  text-align center

div.q-if-label
  color yellow

div.q-item-side, div.q-item-label
  color #ff5722
  font-weight bold

div.q-list
  border none
div.q-collapsible
  border-bottom 1px solid #e0e0e0
div.q-field-dark div.q-field-label
  color white
div.q-field-dark div.q-field-helper
  color white

main.flex-center
  background url(/statics/images/Culture_orbital2.jpg) no-repeat center center fixed // https://en.wikipedia.org/wiki/Orbital_(The_Culture)
  background-size contain
  color yellow

div#q-layout-drawer
  background-color bg-black
  color white

#cmdrName
  text-align center
  font-size 14px

#prodName
  float left
  font-size 14px
  line-height 20px

#version
  float right
  color white
  line-height 20px

a:visited
  color yellow

a:link
  color yellow
  font-weight bold
  font-size 16px

#version a:link
  font-size 8px

h1, h2
  font-weight normal

p, span
  padding 10px

textarea
  width 300px
  height: 200px
