TODO: Show individual Game stats along with Delete button

<p>Welcome, <a href="/">{{ .Commander }}</a></p>
{{ $current_game_id := .CurrentGameID }}
{{ range $key, $game := .Games }}
<p>Game <a href="/games/{{$game.ID}}">#{{ inc $key }}</a>{{ if eq $current_game_id $game.ID }} <= current{{ end }}</p>
{{ end }}

<button onclick="confirmAccountDeletion('{{ .Commander }}')">Delete Account?</button>
