{{define "header"}}
<!DOCTYPE HTML>
<html>
  <head>
      <meta charset="UTF-8" />
      <title>Battle Fleet!</title>
      <link rel="stylesheet" href="/css/bf.css"/>
      <script type="text/javascript" src="js/bf.js"></script>
  </head>

  <body>
{{end}}
