<p>Welcome, {{ .CommanderName }}</p>
{{ if eq .GameUUID "__new__" }}
<input type="button" onclick="location.href='/games/{{ .GameUUID }}?ts={{ .Timestamp }}';" value="New game!" />
{{ else }}
<input type="button" onclick="location.href='/games/__new__?ts={{ .Timestamp }}';" value="New game!" />
<input type="button" onclick="location.href='/games/{{ .GameUUID }}?ts={{ .Timestamp }}';" value="Rejoin the fleet!" />
{{ end }}
