<script>
var AUTH0_CLIENT_ID = '{{ .AuthData.Auth0ClientID }}';
var AUTH0_DOMAIN = '{{ .AuthData.Auth0Domain }}';
var AUTH0_CALLBACK_URL = '{{ .AuthData.Auth0CallbackURL }}';
</script>
<div id="dialogBox" style="top: 0px; display: block;">
  <div class="dialogTop"></div>

  <div class="dialogMiddle">
    <div id="RegistrationForm" style="" class="dialogContents">
      <div class="title">
{{ $user_profile_pic := index .Account.Auth0Profile "picture" }}
{{ $user_profile_nick := index .Account.Auth0Profile "nickname" }}
        <span style="padding-top:5px;">Welcome, <a href="/">{{ .Account.Commander }}</a>
        {{ if not .Account.Auth0Token }}
          <a href="javascript:loginAuth0();" class="saveButton" tabindex="1">Save</a>
        {{ else }}
          <img class="userProfilePic" style="transform: translateY(6%);" src="{{ $user_profile_pic }}" alt="{{ $user_profile_nick }}"/>
          <a href="javascript:logoutAuth0();" class="saveButton" tabindex="1">Quit</a>
        </span>
        <span style="display:block;clear:left;">
          Last saved: {{ .Account.LastLogout.Format "02-01-2006 15:04:05" }}
        </span>
        {{ end }}
      </div>
      <div class="container">
      {{ $current_game_id := .Account.CurrentGameID }}
      {{ range $key, $game := .Account.Games }}
        {{ $div_id := "left" }}
        {{ if eq $key 2 }}
          {{ $div_id := "right" }}
        {{ end }}
        {{ if eq $key 3 }}
          {{ $div_id := "center" }}
        {{ end }}
        <div class="{{ $div_id }}" style="width:250px;">
          <fieldset>
            <legend style="color:orange;font-weight:bold;">Game <a href="/games/{{$game.ID}}">#{{ inc $key }}</a>{{ if eq $current_game_id $game.ID }} <= current{{ end }}</legend>
            <table>
               <tr>
                  <td><span style="text-decoration:underline">Last turn:</span></td>
                  <td><span>{{ $game.LastTurn.Format "02-01-2006 15:04:05" }}</span></td>
               </tr>
               <tr>
                  <td><span style="text-decoration:underline">Ships:</span></td>
                  <td><span>{{ len $game.Ships}}</span></td>
               </tr>
               <tr>
                  <td><span style="text-decoration:underline">Credits:</span></td>
                  <td><span>{{ $game.Credits}}</span></td>
               </tr>
               <tr>
                  <td><span style="text-decoration:underline">Glory:</span></td>
                  <td><span>{{ $game.Glory}}</span></td>
               </tr>
               <tr>
                  <td><span style="text-decoration:underline">Your turn:</span></td>
                  <td><span>{{ $game.ServerTurn }}</span></td>
               </tr>
               <tr>
                  <td><span style="text-decoration:underline">Online:</span></td>
                  <td><span>{{ $game.Online }}</span></td>
               </tr>
            </table>
            <br/>
            <button style="background-color:orange;color:darkred;font-weight:bolder;border-radius:8px;" onclick="confirmGameDeletion({{$game.ID}});">Delete?</button>
          </fieldset>
        </div>
       {{ end }}
      </div>
      <div class="formbox" style="text-align:center;padding:0px;">
        {{ if (or (lt (len .Account.Games) 3) (eq $current_game_id "__new__")) }}
        <div class="buttonrow" style="margin-top:25px;">
          <input type="button" onclick="location.href='/games/__new__?ts={{ curr_time }}';" value="New game!" />
        </div>
        {{ end }}
        <button class="deleteaccount" style="background-color:red;color:white;border-radius:8px;" onclick="confirmAccountDeletion('{{ .Account.Commander }}')">Delete Account</button>
      </div>
    </div>
      </div>
  <div class="dialogBottom"></div>
</div>
