<script>
var AUTH0_CLIENT_ID = '{{ .Data.Auth0ClientID }}';
var AUTH0_DOMAIN = '{{ .Data.Auth0Domain }}';
var AUTH0_CALLBACK_URL = '{{ .Data.Auth0CallbackURL }}';
</script>
{{ if eq .Account.CurrentGameID "__new__" }}
  {{ if eq .Account.Commander "stranger!" }}
<p>Welcome, {{ .Account.Commander }}</p>
  {{ else }}
<p>Welcome, <a href="/account/">{{ .Account.Commander }}</a></p>
  {{ end }}
<form action="/games/{{ .Account.CurrentGameID }}?ts={{ curr_time }}" method="post">
  {{ if eq .Account.Commander "stranger!" }}
  Name: <input type="text" name="cmdrName" required>
  {{ end }}
  <input type="submit" value="New game!" />
</form>
{{ else }}
<p>Welcome, <a href="/account/">{{ .Account.Commander }}</a></p>
  {{ $len_games := len .Account.Games }}
  {{ if lt $len_games 3 }}
<input type="button" onclick="location.href='/games/__new__?ts={{ curr_time }}';" value="New game!" />
  {{ end }}
<input type="button" onclick="location.href='/games/{{ .Account.CurrentGameID }}?ts={{ curr_time }}';" value="Rejoin the fleet!" />
{{ end }}
<br/><br/>Or:
{{ if not .Account.Auth0Token }}
<button style="background-color:white;color:darkblue;border-radius:8px;" onclick="loginAuth0()">Login</button>
{{ else }}
<button style="background-color:darkblue;color:white;border-radius:8px;" onclick="logoutAuth0()">Quit</button>
{{ end }}
